<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    
    <StandardDirectory Id="PerUserProgramFilesFolder">
      <Directory Id="PFCompanyFolder" Name="NeeLaboratory">
        <Directory Id="INSTALLFOLDER" Name="NeeView" />
      </Directory>
    </StandardDirectory>
    
    <StandardDirectory Id="ProgramMenuFolder">
    </StandardDirectory>
    
  </Fragment>
</Wix>
