<?if $(sys.BUILDARCH) != "x64" ?>
  <?error "This project only supports x64 architecture." ?>
<?endif ?>

<?define UpgradeCode = "6db6317b-b2a3-42b3-aa6e-102b0d7bb0dc" ?>
<?define IdentName = "NeeViewX64" ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="$(var.ProductName)" Version="$(var.ProductVersion)" Language="!(loc.language)" Codepage="!(loc.codepage)" Manufacturer="NeeLaboratory" UpgradeCode="$(var.UpgradeCode)" Scope="perUser">
    <SummaryInformation Codepage="!(loc.codepage)" />

    <MajorUpgrade DowngradeErrorMessage="!(loc.downgradeErrorMessage)" />

    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Feature Id="ProductFeature" Title="NeeView" Level="1" AllowAdvertise="no" Display="expand" ConfigurableDirectory="INSTALLFOLDER" AllowAbsent="no">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="MainComponents" />
      <Feature Id="ContextMenuFeature" Title="ContextMenu" Description="!(loc.contextMenuFeatureDescription)" Level="1" AllowAdvertise="no">
        <ComponentGroupRef Id="RegistryComponents" />
      </Feature>
    </Feature>

    <Property Id="MSIINSTALLPERUSER" Secure="yes" Value="1" />

     <Property Id="OLD_PERMACHINE_FOUND">
      <RegistrySearch Id="SearchOldPerMachine" Type="raw" Root="HKLM" Key="SOFTWARE\NeeLaboratory\NeeView" Name="InstallDir"  />
    </Property>

    <Property Id="INSTALLFOLDER">
      <RegistrySearch Id="InstallDirRegistry" Type="raw" Root="HKCU" Key="SOFTWARE\NeeLaboratory\NeeView" Name="InstallDir" />
    </Property>

    <!-- UI -->
    <UIRef Id="WixUI_InstallDirEx" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <!-- Disable advertise shortcuts -->
    <Property Id="DISABLEADVTSHORTCUTS" Value="1" />

    <!-- The application icon displayed on the control panel -->
    <Property Id="ARPPRODUCTICON" Value="App.ico" />
    <Icon Id="App.ico" SourceFile="!(bindpath.Append)\App.ico" />

    <!-- Remove shortcuts -->
    <InstallExecuteSequence>
      <RemoveShortcuts Condition="Installed AND NOT UPGRADINGPRODUCTCODE" />
    </InstallExecuteSequence>

    <!-- CustomAction: Clear HKCU registry when uninstall -->
    <CustomAction Id="EXECUTE_CLEANUP" Execute="immediate" Impersonate="yes" Return="ignore" ExeCommand="--clear-registry" FileRef="EXE" />
    <InstallExecuteSequence>
      <Custom Action="EXECUTE_CLEANUP" After="InstallInitialize" Condition="(REMOVE = &quot;ALL&quot;) AND (NOT UPGRADINGPRODUCTCODE)" />
    </InstallExecuteSequence>

  </Package>

  <Fragment>
    <ComponentGroup Id="RegistryComponents" Directory="INSTALLFOLDER">
      <Component>
        <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\*\shell\OpenIn$(var.IdentName)" Type="string" Value="!(loc.openInNeeView)" KeyPath="yes" />
        <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\*\shell\OpenIn$(var.IdentName)" Name="Icon" Type="string" Value="&quot;[INSTALLFOLDER]\NeeView.exe&quot;,0" />
        <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\*\shell\OpenIn$(var.IdentName)\command" Type="string" Value="&quot;[INSTALLFOLDER]\NeeView.exe&quot; &quot;%1&quot;" />
      </Component>
      <Component>
        <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\Directory\shell\OpenIn$(var.IdentName)" Type="string" Value="!(loc.openInNeeView)" KeyPath="yes" />
        <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\Directory\shell\OpenIn$(var.IdentName)" Name="Icon" Type="string" Value="&quot;[INSTALLFOLDER]\NeeView.exe&quot;,0" />
        <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\Directory\shell\OpenIn$(var.IdentName)\command" Type="string" Value="&quot;[INSTALLFOLDER]\NeeView.exe&quot; &quot;%1&quot;" />
      </Component>
      <Component>
        <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\Directory\Background\shell\OpenIn$(var.IdentName)" Type="string" Value="!(loc.openInNeeView)" KeyPath="yes" />
        <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\Directory\Background\shell\OpenIn$(var.IdentName)" Name="Icon" Type="string" Value="&quot;[INSTALLFOLDER]\NeeView.exe&quot;,0" />
        <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\Directory\Background\shell\OpenIn$(var.IdentName)\command" Type="string" Value="&quot;[INSTALLFOLDER]\NeeView.exe&quot; &quot;%V&quot;" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>