<?if $(sys.BUILDARCH) != "x64" ?>
  <?error "This project only supports x64 architecture." ?>
<?endif ?>

<?define UpgradeCode = "6db6317b-b2a3-42b3-aa6e-102b0d7bb0dc" ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="$(var.ProductName)" Version="$(var.ProductVersion)" Language="!(loc.language)" Codepage="!(loc.codepage)" Manufacturer="NeeLaboratory" UpgradeCode="$(var.UpgradeCode)">
    <SummaryInformation Codepage="!(loc.codepage)" />

    <MajorUpgrade DowngradeErrorMessage="!(loc.downgradeErrorMessage)" />

    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Feature Id="ProductFeature" Title="NeeView" Level="1" AllowAdvertise="no" Display="expand" ConfigurableDirectory="INSTALLFOLDER" AllowAbsent="no">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="MainComponents" />
    </Feature>

    <!-- for "perUser":
      Need to change the registry used to HKCU.

      A setting to adjust the default INSTALLFOLDER when InstallScope=“perUser”.
      It is as follows.
      "%LOCALAPPDATA%\Programs\NeeLaboratory\NeeView\"
    -->
    <!--
    <Property Id="ALLUSERS" Secure="yes" Value="2"/>
    <Property Id="MSIINSTALLPERUSER" Secure="yes" Value="1" />
    -->

    <Property Id="INSTALLFOLDER">
      <RegistrySearch Id="InstallDirRegistry" Type="raw" Root="HKLM" Key="SOFTWARE\NeeLaboratory\NeeView" Name="InstallDir" />
    </Property>

    <!-- UI -->
    <UIRef Id="WixUI_InstallDirEx" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <!-- Disable advertise shortcuts -->
    <Property Id="DISABLEADVTSHORTCUTS" Value="1" />

    <!-- The application icon displayed on the control panel -->
    <Property Id="ARPPRODUCTICON" Value="App.ico" />
    <Icon Id="App.ico" SourceFile="!(bindpath.Append)\App.ico" />

    <!-- Remove shortcuts -->
    <InstallExecuteSequence>
      <RemoveShortcuts Condition="Installed AND NOT UPGRADINGPRODUCTCODE" />
    </InstallExecuteSequence>

    <!-- CustomAction: Clear HKCU registry when uninstall -->
    <!-- Deletes only the registry of the user who performed the uninstallation. -->
    <CustomAction Id="EXECUTE_CLEANUP" Execute="immediate" Impersonate="yes" Return="ignore" ExeCommand="--clear-registry" FileRef="EXE" />
    <InstallExecuteSequence>
      <Custom Action="EXECUTE_CLEANUP" After="InstallInitialize" Condition="(REMOVE = &quot;ALL&quot;) AND (NOT UPGRADINGPRODUCTCODE)" />
    </InstallExecuteSequence>
  </Package>
</Wix>